@import '../utils/reset.scss';
@import '../utils/tmp.scss';
@import url('https://fonts.googleapis.com/css2?family=Oswald&display=swap');

.App {
    width: 100vw;
    height: 100vh;
    display: flex;
    @extend %centerTemplate;
}

.board {
    width: calc(84px * 8);
    height: calc(84px * 8);
    display: flex;
    flex-wrap: wrap;
    border: 10px solid teal;
    border-radius: 15px;
}

.cell {
    width: 84px;
    height: 84px;
    @extend %centerTemplate;
    img {
        width: 48px;
        height: 48px;
        position: relative;
    }
}

.black {
    background-color: #595959;
}

.white {
    background-color: #bdc2db;
}

.selected {
    background-color: brown;
}

.available {
    height: 12px;
    width: 12px;
    border-radius: 50%;
    background-color: teal;
}

.player-title {
    border: 1px solid teal;
    text-align: center;
    font-family: 'Oswald', sans-serif;
    font-size: 18px;
    margin-bottom: 20px;
    padding: 15px;
    border-radius: 10px;
}

.lost {
    height: calc(50vh - 60px);
    padding: 30px;
    margin-left: 50px;
    background-color: lightgray;
    font-family: 'Oswald', sans-serif;
}